In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support.select import Select
import time

In [2]:
options = webdriver.ChromeOptions()
# Using SOCKS Proxy (Optional)
options.add_argument("--proxy-server=socks5://127.0.0.1:8081")
browser = webdriver.Chrome('f:/utils/chromedriver/chromedriver.exe', options=options)

In [20]:
browser.get("https://www.ilsos.gov/corporatellc/CorporateLlcController")

In [21]:
elem = browser.find_element_by_name('type')
elem.click()
elem = browser.find_element_by_name('next')
elem.click()

In [22]:
elem = browser.find_elements_by_xpath("//input[@type='radio']")[1]
elem.click()
elem = browser.find_element_by_xpath("//input[(@type='text') and (not(@id='search'))]")
elem.clear()
elem.send_keys("son")
elem = browser.find_element_by_name('next')
elem.click()

In [23]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

dfs = pd.read_html(browser.page_source, attrs={'class': 'table table-striped table-hover'})
df = dfs[0]
page = 2

In [25]:
while True:
    try:
        print('page = %d' % page)
        elem = browser.find_element_by_name("command")
        elem.click()
    except Exception as e:
        print(e)
        break
    time.sleep(3)
    dfs = pd.read_html(browser.page_source, attrs={'class': 'table table-striped table-hover'})
    if df is None:
        df = dfs[0]
    else:
        df = pd.concat([df, dfs[0]])
    page += 1

page = 2
page = 3
page = 4
page = 5
page = 6
page = 7
page = 8
page = 9
page = 10
page = 11
page = 12
page = 13
page = 14
page = 15
page = 16
page = 17
page = 18
page = 19
page = 20
page = 21
page = 22
page = 23
page = 24
page = 25
page = 26
page = 27
page = 28
page = 29
page = 30
page = 31
page = 32
page = 33
page = 34
page = 35
page = 36
page = 37
page = 38
page = 39
page = 40
page = 41
page = 42
page = 43
page = 44
page = 45
page = 46
page = 47
page = 48
Message: element not interactable
  (Session info: chrome=79.0.3945.88)

In [26]:
df

   Entity Type  File Number                         Corporation/LLC Name
0     CORP MST     62767693                 A AFFORDABLE & SON, INC.‎‎‎‎
1     CORP OLD     38347519                     A. ALLIN & SON, INC.‎‎‎‎
2     CORP MST     66744175          A.B.M. CONSTRUCTION & SON CORP.‎‎‎‎
3     CORP ASE     66508242  A.B. & SON'S PLUMBING, SEWER & DRAINAGE‎‎‎‎
4     CORP MST     59392514         A. BAUTISTA & SON LANDSCAPE INC.‎‎‎‎
..         ...          ...                                          ...
30    CORP MST     59052284              ZIKA & SON DELIVERIES, INC.‎‎‎‎
31    CORP OLD     43701894                  ZIMMERMAN AND SON, INC.‎‎‎‎
32    CORP MST     57982187               ZORAN & SON TRUCKING, INC.‎‎‎‎
33    CORP MST     68827094                   3 SON'S LOGISTICS INC.‎‎‎‎
34     LLC MST      3787567                   3RD SON CONSULTING LLC‎‎‎‎

[2335 rows x 3 columns]

In [27]:
df.reset_index(drop=True).to_csv('son-Illinois.csv', index=False)

In [28]:
browser.quit()